{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <form class="form-control">
            {{ form_start(formCita) }}
                {{form_widget(formCita)}}
                <button class="btn btn-lg btn-primary" type="submit">Enviar</button>
            {{ form_end(formCita) }}
        </form>
    </div>

{% endblock %}